In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Pandas Review

This HW covers the concepts simple pandas concepts introduced in class using NBA Players Stats - 2014-2015 data
To find out more about the data follow the link: https://www.kaggle.com/drgilermo/nba-players-stats-20142015/version/1

## Load `players_stats.csv`

In [3]:
players = pd.read_csv("players_stats.csv")

In [4]:
players.head(5)

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,51,137,37.2,15,57,26.3,...,29.0,us,"October 7, 1986",University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,344,817,42.1,121,313,38.7,...,30.0,us,"January 14, 1985",University of Oregon,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,93,208,44.7,13,48,27.1,...,20.0,us,"September 16, 1995",University of Arizona,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,91,220,41.4,1,9,11.1,...,24.0,us,"February 19, 1991",Michigan State University,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,519,965,53.8,11,36,30.6,...,29.0,do,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384

## Explore the data in 3 different ways (using 3 different methods)
Hint: you want to use methods that show the size and shape of your dataframe

In [11]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490 entries, 0 to 489
Data columns (total 34 columns):
Name            490 non-null object
Games Played    490 non-null int64
MIN             490 non-null int64
PTS             490 non-null int64
FGM             490 non-null int64
FGA             490 non-null int64
FG%             490 non-null float64
3PM             490 non-null int64
3PA             490 non-null int64
3P%             490 non-null float64
FTM             490 non-null int64
FTA             490 non-null int64
FT%             490 non-null float64
OREB            490 non-null int64
DREB            490 non-null int64
REB             490 non-null int64
AST             490 non-null int64
STL             490 non-null int64
BLK             490 non-null int64
TOV             490 non-null int64
PF              490 non-null int64
EFF             490 non-null int64
AST/TOV         490 non-null float64
STL/TOV         490 non-null float64
Age             422 non-null float64
Birth_Place     422 non-null object
Birthdate       422 non-null object
Collage         350 non-null object
Experience      422 non-null object
Height          422 non-null float64
Pos             422 non-null object
Team            422 non-null object
Weight          422 non-null float64
BMI             422 non-null float64
dtypes: float64(9), int64(18), object(7)
memory usage: 130.2+ KB

In [6]:
players.shape

(490, 34)

In [10]:
list(players.columns)

['Name',
 'Games Played',
 'MIN',
 'PTS',
 'FGM',
 'FGA',
 'FG%',
 '3PM',
 '3PA',
 '3P%',
 'FTM',
 'FTA',
 'FT%',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'EFF',
 'AST/TOV',
 'STL/TOV',
 'Age',
 'Birth_Place',
 'Birthdate',
 'Collage',
 'Experience',
 'Height',
 'Pos',
 'Team',
 'Weight',
 'BMI']

## Introduction to Statistics 
#### Calculate the mean, mode and median of `MIN` and `PTS` fields

In [21]:
min_mean = players.MIN.mean()
min_mode = players.MIN.mode()
min_median = players.MIN.median()
print("mean:", min_mean, "median:", min_median, "mode:", min_mode)

mean: 1214.7142857142858 median: 1193.0 mode: 0      23
1      43
2    2455
dtype: int64

In [22]:
pts_mean = players.PTS.mean()
pts_mode = players.PTS.mode()
pts_median = players.PTS.median()
print("mean:", pts_mean, "median:", pts_median, "mode:", pts_mode)

mean: 502.10816326530613 median: 423.0 mode: 0    0
dtype: int64

#### From the description of the data find out what information is contained in the `MIN` and `PTS` fields

In [28]:
#MIN Minutes Played 
players.MIN.describe()

count     490.000000
mean     1214.714286
std       820.570132
min         3.000000
25%       492.250000
50%      1193.000000
75%      1905.750000
max      2981.000000
Name: MIN, dtype: float64

In [29]:
#PTS Points
players.PTS.describe()

count     490.000000
mean      502.108163
std       422.084232
min         0.000000
25%       145.250000
50%       423.000000
75%       774.000000
max      2217.000000
Name: PTS, dtype: float64

### Compute the average number of minutes all the players spend on the field

In [35]:
players.MIN.mean()

1214.7142857142858

### Now compute the average number of minutes each team spends on the field

In [38]:
players.groupby('Team').MIN.mean()

Team
ATL    1358.466667
BOS    1450.875000
CHA    1321.500000
CHI    1420.071429
CLE    1195.583333
DAL    1414.666667
DEN    1231.272727
DET    1276.818182
GSW    1432.400000
HOU    1271.636364
IND    1376.066667
LAC    1258.285714
LAL    1136.937500
MEM    1392.142857
MIA     970.916667
MIL    1282.500000
MIN     964.375000
NJN    1165.461538
NOH    1345.062500
NYK    1197.312500
OKC    1346.600000
ORL    1317.000000
PHI     976.400000
PHO    1133.062500
POR    1374.312500
SAC    1168.307692
SAS    1254.062500
TOR    1264.214286
UTA    1071.750000
WAS    1127.125000
Name: MIN, dtype: float64

###  Why is it different? What is the right way to calculate the Average of averages?
Please use classwork as a reference
### Calculate the average number of minutes all teams spend on the field

In [59]:
# Multiply the size of each group by the average of each group, 
print(players.Team.value_counts() * players.groupby('Team').MIN.mean())

#add all this together, 
print(sum(players.Team.value_counts() * players.groupby('Team').MIN.mean()))

# divide by total minutes
print(players.MIN.sum())

(sum(players.Team.value_counts() * players.groupby('Team').MIN.mean()))/(players.MIN.count())

ATL    20377.0
BOS    11607.0
CHA    18501.0
CHI    19881.0
CLE    14347.0
DAL    21220.0
DEN    13544.0
DET    14045.0
GSW    21486.0
HOU    13988.0
IND    20641.0
LAC    17616.0
LAL    18191.0
MEM    19490.0
MIA    11651.0
MIL    15390.0
MIN    15430.0
NJN    15151.0
NOH    21521.0
NYK    19157.0
OKC    20199.0
ORL    19755.0
PHI    14646.0
PHO    18129.0
POR    21989.0
SAC    15188.0
SAS    20065.0
TOR    17699.0
UTA    17148.0
WAS    18034.0
dtype: float64
526086.0
595210

1073.6448979591837