# The Milwaukee Journal Sentinel and Life Expectancy

**Story:** [Race gap found in pothole patching](https://web.archive.org/web/20081223094123/http://www.jsonline.com/news/milwaukee/32580034.html)

**Author:** Keegan Kyle, Grant Smith and Ben Poston, Milwaukee Journal Sentinel

**Topics:** Census Data, Geocoding, QGIS Spatial Joins, Linear Regression

**Datasets**

* Pothole fill data from the Milwaukee [Department of Public Works](https://city.milwaukee.gov/dpw)
    - **2007-2010 POTHOLES.xls**: Pothole data, July 2007-July 2010
    - **2010-2013 POTHOLES.xls**: Pothole data, July 2010-July 2013
    - **2013-2017 POTHOLES.xls**: Pothole data, July 2013-July 2017
* **tl_2013_55_tract.zip:** 2013 census tract boundaries from the [US Census Bureau](https://www.census.gov/cgi-bin/geo/shapefiles/index.php)
* **addresses_geocoded.csv:** a large selection of addresses in Milwaukee, geocoded by [Geocod.io](https://geocod.io)
* **R12216099_SL140.csv:** ACS 2013 5-year, tract level, from [Social Explorer](https://www.socialexplorer.com)
    - Table A04001, Hispanic or Latino by Race
    - `R12216099.txt` is the data dictionary
* **R12216226_SL140.csv** ACS 2013 5-year, tract level, from [Social Explorer](https://www.socialexplorer.com)
    - Table A14006, 2013 Median Household income
    - Data dictionary [is here](https://www.socialexplorer.com/data/ACS2013_5yr/metadata/?ds=SE&table=A14006)

# What's the story?

We're trying to figure out if the **time it took Milwaukee to fill pot holes** is related to the racial makeup of a census tract.

# Do your imports

You'll also want to set pandas to display **up to 200 columns at a time**.

In [209]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import numpy as np
from statsmodels.sandbox.regression.predstd import wls_prediction_std

pd.set_option('max_columns', 200)

# Create a dataframe of potholes from only 2013

The delivered multiple files to us, so we'll need to filter them down to just 2013.

**Editorial decision:** When we say "a pothole from 2013," what exactly do we mean?

In [210]:
first = pd.read_excel('data/2010-2013 POTHOLES.xls')
first.head(5)

      A          Street           EnterDt           PrintDt          ResolvDt
0  3839       N 10TH ST  2013-07-15 23:35  2013-07-16 05:46  2013-07-17 05:50
1  4900    W MELVINA ST  2013-07-15 20:05  2013-07-16 05:46  2013-07-24 16:58
2  2400  W WISCONSIN AV  2013-07-15 20:00  2013-07-16 05:56  2013-07-25 14:42
3  1800    W HAMPTON AV  2013-07-15 19:55  2013-07-16 05:46  2013-07-18 06:06
4  4718       N 19TH ST  2013-07-15 19:50  2013-07-16 05:46  2013-08-02 06:08

In [211]:
second = pd.read_excel('data/2013-2017 POTHOLES.xls')
second.head(5)

       A          Street           EnterDt           PrintDt          ResolvDt
0   7741       N 59TH ST  2017-07-15 08:55  2017-07-17 05:33  2017-07-21 04:51
1   5517       N 39TH ST  2017-07-14 22:36  2017-07-17 05:33  2017-07-25 15:29
2   8242  N GRANVILLE RD  2017-07-14 18:30  2017-07-17 05:33  2017-07-17 06:55
3   3364  W LAKEFIELD DR  2017-07-14 16:35  2017-07-17 05:22  2017-07-18 05:47
4  10700  W GOOD HOPE RD  2017-07-14 15:18  2017-07-17 05:33  2017-07-21 04:58

In [212]:
potholes = pd.concat([first,second])
potholes.shape

(82073, 5)

In [213]:
# Fix the dates where null for ResolvDt
potholes.ResolvDt.fillna(potholes.PrintDt, inplace=True)

#EntrDt will be what determines 2013 potholes
potholes['Start_Date']=pd.to_datetime(potholes['EnterDt']) 
potholes['End_Date']=pd.to_datetime(potholes['ResolvDt']) 
potholes.head(15)

,A,Street,EnterDt,PrintDt,ResolvDt,Start_Date,End_Date
0,3839,N 10TH ST,2013-07-15 23:35,2013-07-16 05:46,2013-07-17 05:50,2013-07-15 23:35:00,2013-07-17 05:50:00
1,4900,W MELVINA ST,2013-07-15 20:05,2013-07-16 05:46,2013-07-24 16:58,2013-07-15 20:05:00,2013-07-24 16:58:00
2,2400,W WISCONSIN AV,2013-07-15 20:00,2013-07-16 05:56,2013-07-25 14:42,2013-07-15 20:00:00,2013-07-25 14:42:00
3,1800,W HAMPTON AV,2013-07-15 19:55,2013-07-16 05:46,2013-07-18 06:06,2013-07-15 19:55:00,2013-07-18 06:06:00
4,4718,N 19TH ST,2013-07-15 19:50,2013-07-16 05:46,2013-08-02 06:08,2013-07-15 19:50:00,2013-08-02 06:08:00
5,4500,W CLARKE ST,2013-07-15 18:05,2013-07-16 05:56,2013-08-01 14:41,2013-07-15 18:05:00,2013-08-01 14:41:00
6,6471,N 66TH ST,2013-07-15 17:44,2013-07-16 05:46,2013-08-14 05:58,2013-07-15 17:44:00,2013-08-14 05:58:00
7,6200,W BALDWIN ST,2013-07-15 17:35,2013-07-16 05:46,2013-08-02 06:09,2013-07-15 17:35:00,2013-08-02 06:09:00
8,3013,N 74TH ST,2013-07-15 17:23,2013-07-16 05:46,2013-07-16 05:49,2013-07-15 17:23:00,2013-07-16 05:49:00
9,2606,N 7TH ST,2013-07-15 17:13,2013-07-16 05:55,2013-08-07 06:06,2013-07-15 17:13:00,2013-08-07 06:06:00
10,1400,N CASS ST,2013-07-15 16:55,2013-07-16 05:56,2013-07-22 14:57,2013-07-15 16:55:00,2013-07-22 14:57:00
11,3700,N FRATNEY ST,2013-07-15 16:35,2013-07-16 05:46,2013-07-17 05:48,2013-07-15 16:35:00,2013-07-17 05:48:00
12,1562,W ODELL ST,2013-07-15 16:30,2013-07-16 15:27,2013-07-18 14:39,2013-07-15 16:30:00,2013-07-18 14:39:00
13,1300,W VLIET ST,2013-07-15 16:10,2013-07-16 05:56,2013-07-17 14:32,2013-07-15 16:10:00,2013-07-17 14:32:00
14,4301,N 48TH ST,2013-07-15 16:14,2013-07-16 05:46,2013-07-22 20:05,2013-07-15 16:14:00,2013-07-22 20:05:00

In [214]:
# filter to only 2013
potholes['Year']=pd.DatetimeIndex(potholes['Start_Date']).year
potholes = potholes[potholes['Year']==2013]
potholes.head(15)

,A,Street,EnterDt,PrintDt,ResolvDt,Start_Date,End_Date,Year
0,3839,N 10TH ST,2013-07-15 23:35,2013-07-16 05:46,2013-07-17 05:50,2013-07-15 23:35:00,2013-07-17 05:50:00,2013
1,4900,W MELVINA ST,2013-07-15 20:05,2013-07-16 05:46,2013-07-24 16:58,2013-07-15 20:05:00,2013-07-24 16:58:00,2013
2,2400,W WISCONSIN AV,2013-07-15 20:00,2013-07-16 05:56,2013-07-25 14:42,2013-07-15 20:00:00,2013-07-25 14:42:00,2013
3,1800,W HAMPTON AV,2013-07-15 19:55,2013-07-16 05:46,2013-07-18 06:06,2013-07-15 19:55:00,2013-07-18 06:06:00,2013
4,4718,N 19TH ST,2013-07-15 19:50,2013-07-16 05:46,2013-08-02 06:08,2013-07-15 19:50:00,2013-08-02 06:08:00,2013
5,4500,W CLARKE ST,2013-07-15 18:05,2013-07-16 05:56,2013-08-01 14:41,2013-07-15 18:05:00,2013-08-01 14:41:00,2013
6,6471,N 66TH ST,2013-07-15 17:44,2013-07-16 05:46,2013-08-14 05:58,2013-07-15 17:44:00,2013-08-14 05:58:00,2013
7,6200,W BALDWIN ST,2013-07-15 17:35,2013-07-16 05:46,2013-08-02 06:09,2013-07-15 17:35:00,2013-08-02 06:09:00,2013
8,3013,N 74TH ST,2013-07-15 17:23,2013-07-16 05:46,2013-07-16 05:49,2013-07-15 17:23:00,2013-07-16 05:49:00,2013
9,2606,N 7TH ST,2013-07-15 17:13,2013-07-16 05:55,2013-08-07 06:06,2013-07-15 17:13:00,2013-08-07 06:06:00,2013
10,1400,N CASS ST,2013-07-15 16:55,2013-07-16 05:56,2013-07-22 14:57,2013-07-15 16:55:00,2013-07-22 14:57:00,2013
11,3700,N FRATNEY ST,2013-07-15 16:35,2013-07-16 05:46,2013-07-17 05:48,2013-07-15 16:35:00,2013-07-17 05:48:00,2013
12,1562,W ODELL ST,2013-07-15 16:30,2013-07-16 15:27,2013-07-18 14:39,2013-07-15 16:30:00,2013-07-18 14:39:00,2013
13,1300,W VLIET ST,2013-07-15 16:10,2013-07-16 05:56,2013-07-17 14:32,2013-07-15 16:10:00,2013-07-17 14:32:00,2013
14,4301,N 48TH ST,2013-07-15 16:14,2013-07-16 05:46,2013-07-22 20:05,2013-07-15 16:14:00,2013-07-22 20:05:00,2013

## What is the maximum and minimum `EnterDt` and `ResolvDt`?

Use this to confirm that your date range is what you expected. If it isn't, take a look at what might have happened with your dataset.

* **Tip:** Missing data might be a headache

In [215]:
print("minimum", potholes.EnterDt.min(), "and maximum", potholes.EnterDt.max())

minimum 2013-01-02 06:31 and maximum 2013-12-31 17:06

In [216]:
print("minimum", potholes.End_Date.min(), "and maximum", potholes.End_Date.max())

minimum 2013-01-02 06:33:00 and maximum 2014-02-10 13:00:00

## Calculate how long it took to fill potholes in 2013

Save it into a new column.

* **Tip:** It's possible to subtract two dates

In [217]:
potholes['To_Fix'] = potholes.End_Date - potholes.Start_Date
potholes.head(15)

,A,Street,EnterDt,PrintDt,ResolvDt,Start_Date,End_Date,Year,To_Fix
0,3839,N 10TH ST,2013-07-15 23:35,2013-07-16 05:46,2013-07-17 05:50,2013-07-15 23:35:00,2013-07-17 05:50:00,2013,1 days 06:15:00
1,4900,W MELVINA ST,2013-07-15 20:05,2013-07-16 05:46,2013-07-24 16:58,2013-07-15 20:05:00,2013-07-24 16:58:00,2013,8 days 20:53:00
2,2400,W WISCONSIN AV,2013-07-15 20:00,2013-07-16 05:56,2013-07-25 14:42,2013-07-15 20:00:00,2013-07-25 14:42:00,2013,9 days 18:42:00
3,1800,W HAMPTON AV,2013-07-15 19:55,2013-07-16 05:46,2013-07-18 06:06,2013-07-15 19:55:00,2013-07-18 06:06:00,2013,2 days 10:11:00
4,4718,N 19TH ST,2013-07-15 19:50,2013-07-16 05:46,2013-08-02 06:08,2013-07-15 19:50:00,2013-08-02 06:08:00,2013,17 days 10:18:00
5,4500,W CLARKE ST,2013-07-15 18:05,2013-07-16 05:56,2013-08-01 14:41,2013-07-15 18:05:00,2013-08-01 14:41:00,2013,16 days 20:36:00
6,6471,N 66TH ST,2013-07-15 17:44,2013-07-16 05:46,2013-08-14 05:58,2013-07-15 17:44:00,2013-08-14 05:58:00,2013,29 days 12:14:00
7,6200,W BALDWIN ST,2013-07-15 17:35,2013-07-16 05:46,2013-08-02 06:09,2013-07-15 17:35:00,2013-08-02 06:09:00,2013,17 days 12:34:00
8,3013,N 74TH ST,2013-07-15 17:23,2013-07-16 05:46,2013-07-16 05:49,2013-07-15 17:23:00,2013-07-16 05:49:00,2013,0 days 12:26:00
9,2606,N 7TH ST,2013-07-15 17:13,2013-07-16 05:55,2013-08-07 06:06,2013-07-15 17:13:00,2013-08-07 06:06:00,2013,22 days 12:53:00
10,1400,N CASS ST,2013-07-15 16:55,2013-07-16 05:56,2013-07-22 14:57,2013-07-15 16:55:00,2013-07-22 14:57:00,2013,6 days 22:02:00
11,3700,N FRATNEY ST,2013-07-15 16:35,2013-07-16 05:46,2013-07-17 05:48,2013-07-15 16:35:00,2013-07-17 05:48:00,2013,1 days 13:13:00
12,1562,W ODELL ST,2013-07-15 16:30,2013-07-16 15:27,2013-07-18 14:39,2013-07-15 16:30:00,2013-07-18 14:39:00,2013,2 days 22:09:00
13,1300,W VLIET ST,2013-07-15 16:10,2013-07-16 05:56,2013-07-17 14:32,2013-07-15 16:10:00,2013-07-17 14:32:00,2013,1 days 22:22:00
14,4301,N 48TH ST,2013-07-15 16:14,2013-07-16 05:46,2013-07-22 20:05,2013-07-15 16:14:00,2013-07-22 20:05:00,2013,7 days 03:51:00

### Hrm, well, I think we need that difference to be an integer

If your new column isn't an integer, create _another_ column that is.

* **Tip:** Just like you might use `.str.strip()` on a string column, if your column is a datetime you can use `.dt.components` to get the days, hours, minutes, seconds, etc of the column.

In [218]:
potholes['Fixed']=potholes.To_Fix.dt.components.days
potholes.head(5)

,A,Street,EnterDt,PrintDt,ResolvDt,Start_Date,End_Date,Year,To_Fix,Fixed
0,3839,N 10TH ST,2013-07-15 23:35,2013-07-16 05:46,2013-07-17 05:50,2013-07-15 23:35:00,2013-07-17 05:50:00,2013,1 days 06:15:00,1
1,4900,W MELVINA ST,2013-07-15 20:05,2013-07-16 05:46,2013-07-24 16:58,2013-07-15 20:05:00,2013-07-24 16:58:00,2013,8 days 20:53:00,8
2,2400,W WISCONSIN AV,2013-07-15 20:00,2013-07-16 05:56,2013-07-25 14:42,2013-07-15 20:00:00,2013-07-25 14:42:00,2013,9 days 18:42:00,9
3,1800,W HAMPTON AV,2013-07-15 19:55,2013-07-16 05:46,2013-07-18 06:06,2013-07-15 19:55:00,2013-07-18 06:06:00,2013,2 days 10:11:00,2
4,4718,N 19TH ST,2013-07-15 19:50,2013-07-16 05:46,2013-08-02 06:08,2013-07-15 19:50:00,2013-08-02 06:08:00,2013,17 days 10:18:00,17

# Read in your race-related census data

* **Tip:** This will probably give you an error the first time you try, because the Census Bureau doesn't think about the rest of the world.

In [219]:
race = pd.read_csv('data/R12216099_SL140.csv')
race.head(5)

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,Geo_STATECE,Geo_STATE,Geo_COUNTY,Geo_COUSUB,Geo_PLACE,Geo_PLACESE,Geo_TRACT,Geo_BLKGRP,Geo_CONCIT,Geo_AIANHH,Geo_AIANHHFP,Geo_AIHHTLI,Geo_AITSCE,Geo_AITS,Geo_ANRC,Geo_CBSA,Geo_CSA,Geo_METDIV,Geo_MACC,Geo_MEMI,Geo_NECTA,Geo_CNECTA,Geo_NECTADIV,Geo_UA,Geo_UACP,Geo_CDCURR,Geo_SLDU,Geo_SLDL,Geo_VTD,Geo_ZCTA3,Geo_ZCTA5,Geo_SUBMCD,Geo_SDELM,Geo_SDSEC,Geo_SDUNI,Geo_UR,Geo_PCI,Geo_TAZ,Geo_UGA,Geo_BTTR,Geo_BTBG,Geo_PUMA5,Geo_PUMA1,SE_A04001_001,SE_A04001_002,SE_A04001_003,SE_A04001_004,SE_A04001_005,SE_A04001_006,SE_A04001_007,SE_A04001_008,SE_A04001_009,SE_A04001_010,SE_A04001_011,SE_A04001_012,SE_A04001_013,SE_A04001_014,SE_A04001_015,SE_A04001_016,SE_A04001_017
0,55079000101,14000US55079000101,"Census Tract 1.01, Milwaukee County, Wisconsin","Census Tract 1.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4717,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5306,5015,1343,3567,13,70,0,16,6,291,37,0,0,0,0,254,0
1,55079000102,14000US55079000102,"Census Tract 1.02, Milwaukee County, Wisconsin","Census Tract 1.02, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4718,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3648,3549,1034,2195,36,118,0,0,166,99,67,32,0,0,0,0,0
2,55079000201,14000US55079000201,"Census Tract 2.01, Milwaukee County, Wisconsin","Census Tract 2.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4719,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4791,4019,1185,2657,0,102,0,0,75,772,120,0,0,0,0,613,39
3,55079000202,14000US55079000202,"Census Tract 2.02, Milwaukee County, Wisconsin","Census Tract 2.02, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4720,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6324,6148,2687,2810,87,390,12,0,162,176,113,0,0,0,0,63,0
4,55079000301,14000US55079000301,"Census Tract 3.01, Milwaukee County, Wisconsin","Census Tract 3.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4721,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1339,1339,1005,220,0,90,0,10,14,0,0,0,0,0,0,0,0

## Create new dataframe describing the racial makeup of each census tract

Each row should contain:

* The census tract number
* The percent of the population that is White
* The percent of the population that is Black
* The percent of the population that is Hispanic
* The percent of the population that is a minority (non-White)

You can either calculate and filter on the original shapefile, or create a whole new dataframe.

* **Tip:** You'll want to read the data dictionary for the Census data.
* **Tip:** The column names don't exactly match the data dictionary, but you can figure it out
* **Tip:** If you aren't sure which column is the actual census tract number, you can keep multiples for now

In [220]:
race.rename(columns={
    'Geo_TRACT':'Census_Tract', 
    'SE_A04001_001':'total', 
    'SE_A04001_003':'white', 
    'SE_A04001_004':'black', 
    'SE_A04001_010':'hispanic'
}, inplace=True)
race.head(5)

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,Geo_STATECE,Geo_STATE,Geo_COUNTY,Geo_COUSUB,Geo_PLACE,Geo_PLACESE,Census_Tract,Geo_BLKGRP,Geo_CONCIT,Geo_AIANHH,Geo_AIANHHFP,Geo_AIHHTLI,Geo_AITSCE,Geo_AITS,Geo_ANRC,Geo_CBSA,Geo_CSA,Geo_METDIV,Geo_MACC,Geo_MEMI,Geo_NECTA,Geo_CNECTA,Geo_NECTADIV,Geo_UA,Geo_UACP,Geo_CDCURR,Geo_SLDU,Geo_SLDL,Geo_VTD,Geo_ZCTA3,Geo_ZCTA5,Geo_SUBMCD,Geo_SDELM,Geo_SDSEC,Geo_SDUNI,Geo_UR,Geo_PCI,Geo_TAZ,Geo_UGA,Geo_BTTR,Geo_BTBG,Geo_PUMA5,Geo_PUMA1,total,SE_A04001_002,white,black,SE_A04001_005,SE_A04001_006,SE_A04001_007,SE_A04001_008,SE_A04001_009,hispanic,SE_A04001_011,SE_A04001_012,SE_A04001_013,SE_A04001_014,SE_A04001_015,SE_A04001_016,SE_A04001_017
0,55079000101,14000US55079000101,"Census Tract 1.01, Milwaukee County, Wisconsin","Census Tract 1.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4717,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5306,5015,1343,3567,13,70,0,16,6,291,37,0,0,0,0,254,0
1,55079000102,14000US55079000102,"Census Tract 1.02, Milwaukee County, Wisconsin","Census Tract 1.02, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4718,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3648,3549,1034,2195,36,118,0,0,166,99,67,32,0,0,0,0,0
2,55079000201,14000US55079000201,"Census Tract 2.01, Milwaukee County, Wisconsin","Census Tract 2.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4719,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4791,4019,1185,2657,0,102,0,0,75,772,120,0,0,0,0,613,39
3,55079000202,14000US55079000202,"Census Tract 2.02, Milwaukee County, Wisconsin","Census Tract 2.02, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4720,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6324,6148,2687,2810,87,390,12,0,162,176,113,0,0,0,0,63,0
4,55079000301,14000US55079000301,"Census Tract 3.01, Milwaukee County, Wisconsin","Census Tract 3.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4721,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1339,1339,1005,220,0,90,0,10,14,0,0,0,0,0,0,0,0

In [225]:
race[['Census_Tract', 'total', 'white', 'black', 'hispanic']]
race['percent_white'] = race['white']/race['total']
race['percent_black'] = race['black']/race['total']
race['percent_hispanic'] = race['hispanic']/race['total']
race['percent_color'] = 1 - (race['white']/race['total'])
race

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,Geo_STATECE,Geo_STATE,Geo_COUNTY,Geo_COUSUB,Geo_PLACE,Geo_PLACESE,Census_Tract,Geo_BLKGRP,Geo_CONCIT,Geo_AIANHH,Geo_AIANHHFP,Geo_AIHHTLI,Geo_AITSCE,Geo_AITS,Geo_ANRC,Geo_CBSA,Geo_CSA,Geo_METDIV,Geo_MACC,Geo_MEMI,Geo_NECTA,Geo_CNECTA,Geo_NECTADIV,Geo_UA,Geo_UACP,Geo_CDCURR,Geo_SLDU,Geo_SLDL,Geo_VTD,Geo_ZCTA3,Geo_ZCTA5,Geo_SUBMCD,Geo_SDELM,Geo_SDSEC,Geo_SDUNI,Geo_UR,Geo_PCI,Geo_TAZ,Geo_UGA,Geo_BTTR,Geo_BTBG,Geo_PUMA5,Geo_PUMA1,total,SE_A04001_002,white,black,SE_A04001_005,SE_A04001_006,SE_A04001_007,SE_A04001_008,SE_A04001_009,hispanic,SE_A04001_011,SE_A04001_012,SE_A04001_013,SE_A04001_014,SE_A04001_015,SE_A04001_016,SE_A04001_017,percent_white,percent_black,percent_hispanic,percent_color
0,55079000101,14000US55079000101,"Census Tract 1.01, Milwaukee County, Wisconsin","Census Tract 1.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4717,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5306,5015,1343,3567,13,70,0,16,6,291,37,0,0,0,0,254,0,0.253110,0.672258,0.054844,0.746890
1,55079000102,14000US55079000102,"Census Tract 1.02, Milwaukee County, Wisconsin","Census Tract 1.02, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4718,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3648,3549,1034,2195,36,118,0,0,166,99,67,32,0,0,0,0,0,0.283443,0.601700,0.027138,0.716557
2,55079000201,14000US55079000201,"Census Tract 2.01, Milwaukee County, Wisconsin","Census Tract 2.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4719,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4791,4019,1185,2657,0,102,0,0,75,772,120,0,0,0,0,613,39,0.247339,0.554582,0.161135,0.752661
3,55079000202,14000US55079000202,"Census Tract 2.02, Milwaukee County, Wisconsin","Census Tract 2.02, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4720,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6324,6148,2687,2810,87,390,12,0,162,176,113,0,0,0,0,63,0,0.424889,0.444339,0.027830,0.575111
4,55079000301,14000US55079000301,"Census Tract 3.01, Milwaukee County, Wisconsin","Census Tract 3.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4721,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1339,1339,1005,220,0,90,0,10,14,0,0,0,0,0,0,0,0,0.750560,0.164302,0.000000,0.249440
5,55079000302,14000US55079000302,"Census Tract 3.02, Milwaukee County, Wisconsin","Census Tract 3.02, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4722,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3091,2946,448,2363,11,40,0,0,84,145,74,25,0,0,0,34,12,0.144937,0.764478,0.046910,0.855063
6,55079000303,14000US55079000303,"Census Tract 3.03, Milwaukee County, Wisconsin","Census Tract 3.03, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4723,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2029,1980,864,941,0,77,0,0,98,49,25,0,0,0,0,24,0,0.425826,0.463775,0.024150,0.574174
7,55079000304,14000US55079000304,"Census Tract 3.04, Milwaukee County, Wisconsin","Census Tract 3.04, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4724,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3072,3024,1318,1140,0,445,0,38,83,48,36,0,0,0,0,12,0,0.429036,0.371094,0.015625,0.570964
8,55079000400,14000US55079000400,"Census Tract 4, Milwaukee County, Wisconsin","Census Tract 4, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4725,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2450,2365,610,1384,79,0,0,0,292,85,0,0,0,0,0,85,0,0.248980,0.564898,0.034694,0.751020
9,55079000501,14000US55079000501,"Census Tract 5.01, Milwaukee County, Wisconsin","Census Tract 5.01, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4726,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3539,3348,1576,1436,0,62,0,27,247,191,45,0,0,0,0,37,109,0.445324,0.405764,0.053970,0.554676
10,55079000502,14000US55079000502,"Census Tract 5.02, Milwaukee County, Wisconsin","Census Tract 5.02, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4727,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3755,3722,820,2731,49,20,0,0,102,33,12,0,0,0,0,21,0,0.218375,0.727297,0.008788,0.781625
11,55079000600,14000US55079000600,"Census Tract 6, Milwaukee County, Wisconsin","Census Tract 6, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4728,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6845,6723,1465,3612,0,1366,0,0,280,122,92,16,0,0,0,14,0,0.214025,0.527684,0.017823,0.785975
12,55079000700,14000US55079000700,"Census Tract 7, Milwaukee County, Wisconsin","Census Tract 7, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4729,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3454,3374,1291,1838,5,198,0,7,35,80,52,0,0,15,0,13,0,0.373770,0.532137,0.023162,0.626230
13,55079000800,14000US55079000800,"Census Tract 8, Milwaukee County, Wisconsin","Census Tract 8, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4730,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5433,5064,1155,3470,29,198,0,0,212,369,124,0,0,156,0,30,59,0.212590,0.638689,0.067918,0.787410
14,55079000900,14000US55079000900,"Census Tract 9, Milwaukee County, Wisconsin","Census Tract 9, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4731,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3750,3575,741,2643,26,0,0,0,165,175,53,69,0,0,0,10,43,0.197600,0.704800,0.046667,0.802400
15,55079001000,14000US55079001000,"Census Tract 10, Milwaukee County, Wisconsin","Census Tract 10, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4732,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3726,3538,500,2604,1,286,0,23,124,188,94,22,7,0,5,39,21,0.134192,0.698873,0.050456,0.865808
16,55079001100,14000US55079001100,"Census Tract 11, Milwaukee County, Wisconsin","Census Tract 11, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4733,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,1100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2677,2677,304,2353,6,0,0,0,14,0,0,0,0,0,0,0,0,0.113560,0.878969,0.000000,0.886440
17,55079001200,14000US55079001200,"Census Tract 12, Milwaukee County, Wisconsin","Census Tract 12, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4734,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,1200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2790,2611,215,1474,4,826,0,0,92,179,37,6,0,0,0,136,0,0.077061,0.528315,0.064158,0.922939
18,55079001300,14000US55079001300,"Census Tract 13, Milwaukee County, Wisconsin","Census Tract 13, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4735,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,1300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3929,3794,317,2923,0,519,0,0,35,135,0,82,19,0,0,15,19,0.080682,0.743955,0.034360,0.919318
19,55079001400,14000US55079001400,"Census Tract 14, Milwaukee County, Wisconsin","Census Tract 14, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4736,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,1400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2529,2439,364,1438,20,573,0,0,44,90,12,11,0,0,0,4,63,0.143930,0.568604,0.035587,0.856070
20,55079001500,14000US55079001500,"Census Tract 15, Milwaukee County, Wisconsin","Census Tract 15, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4737,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3161,3161,538,1818,54,741,0,0,10,0,0,0,0,0,0,0,0,0.170199,0.575134,0.000000,0.829801
21,55079001600,14000US55079001600,"Census Tract 16, Milwaukee County, Wisconsin","Census Tract 16, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4738,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,1600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3032,2951,525,2112,0,222,0,0,92,81,20,14,0,0,0,13,34,0.173153,0.696570,0.026715,0.826847
22,55079001700,14000US55079001700,"Census Tract 17, Milwaukee County, Wisconsin","Census Tract 17, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4739,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4499,4381,1324,2963,0,86,0,0,8,118,118,0,0,0,0,0,0,0.294288,0.658591,0.026228,0.705712
23,55079001800,14000US55079001800,"Census Tract 18, Milwaukee County, Wisconsin","Census Tract 18, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4740,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3036,2978,538,2252,0,149,0,0,39,58,27,0,7,0,0,24,0,0.177207,0.741765,0.019104,0.822793
24,55079001900,14000US55079001900,"Census Tract 19, Milwaukee County, Wisconsin","Census Tract 19, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4741,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3001,2870,608,1925,50,91,0,0,196,131,70,0,0,0,0,61,0,0.202599,0.641453,0.043652,0.797401
25,55079002000,14000US55079002000,"Census Tract 20, Milwaukee County, Wisconsin","Census Tract 20, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4742,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2263,2209,362,1769,1,29,0,0,48,54,35,0,0,0,0,6,13,0.159965,0.781706,0.023862,0.840035
26,55079002100,14000US55079002100,"Census Tract 21, Milwaukee County, Wisconsin","Census Tract 21, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4743,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,2100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2067,2047,154,1880,0,0,0,0,13,20,0,0,0,0,0,20,0,0.074504,0.909531,0.009676,0.925496
27,55079002200,14000US55079002200,"Census Tract 22, Milwaukee County, Wisconsin","Census Tract 22, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4744,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,2200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1582,1510,526,855,29,0,0,0,100,72,67,0,0,0,0,0,5,0.332491,0.540455,0.045512,0.667509
28,55079002300,14000US55079002300,"Census Tract 23, Milwaukee County, Wisconsin","Census Tract 23, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4745,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,2300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4078,4063,179,3765,0,38,0,0,81,15,8,0,0,0,0,0,7,0.043894,0.923247,0.003678,0.956106
29,55079002400,14000US55079002400,"Census Tract 24, Milwaukee County, Wisconsin","Census Tract 24, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4746,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,2400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1756,1746,33,1497,0,199,0,0,17,10,0,0,0,0,0,0,10,0.018793,0.852506,0.005695,0.981207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,55079170700,14000US55079170700,"Census Tract 1707, Milwaukee County, Wisconsin","Census Tract 1707, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4985,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,170700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2939,2753,2642,48,7,15,0,0,41,186,125,0,12,0,0,41,8,0.898945,0.016332,0.063287,0.101055
269,55079180100,14000US55079180100,"Census Tract 1801, Milwaukee County, Wisconsin","Census Tract 1801, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4986,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,180100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3154,2921,2758,114,27,0,0,0,22,233,107,0,0,0,0,111,15,0.874445,0.036145,0.073874,0.125555
270,55079180200,14000US55079180200,"Census Tract 1802, Milwaukee County, Wisconsin","Census Tract 1802, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4987,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,180200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4694,4106,3842,58,82,72,0,0,52,588,184,0,0,0,0,204,200,0.818492,0.012356,0.125266,0.181508
271,55079180300,14000US55079180300,"Census Tract 1803, Milwaukee County, Wisconsin","Census Tract 1803, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4988,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,180300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3337,2485,2106,201,28,0,0,0,150,852,666,21,0,0,0,146,19,0.631106,0.060234,0.255319,0.368894
272,55079180400,14000US55079180400,"Census Tract 1804, Milwaukee County, Wisconsin","Census Tract 1804, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4989,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,180400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2627,2565,2403,0,24,111,0,0,27,62,62,0,0,0,0,0,0,0.914732,0.000000,0.023601,0.085268
273,55079180500,14000US55079180500,"Census Tract 1805, Milwaukee County, Wisconsin","Census Tract 1805, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4990,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,180500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4487,3891,3676,31,11,158,0,0,15,596,434,41,28,0,0,57,36,0.819256,0.006909,0.132828,0.180744
274,55079185100,14000US55079185100,"Census Tract 1851, Milwaukee County, Wisconsin","Census Tract 1851, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4991,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,185100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4430,3979,3528,119,90,75,0,48,119,451,406,0,0,0,0,45,0,0.796388,0.026862,0.101806,0.203612
275,55079185200,14000US55079185200,"Census Tract 1852, Milwaukee County, Wisconsin","Census Tract 1852, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4992,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,185200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5016,4561,4063,184,75,105,0,50,84,455,400,0,0,0,0,29,26,0.810008,0.036683,0.090710,0.189992
276,55079185300,14000US55079185300,"Census Tract 1853, Milwaukee County, Wisconsin","Census Tract 1853, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4993,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,185300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3430,3368,3181,66,2,113,0,0,6,62,15,0,0,0,0,36,11,0.927405,0.019242,0.018076,0.072595
277,55079185400,14000US55079185400,"Census Tract 1854, Milwaukee County, Wisconsin","Census Tract 1854, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4994,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,185400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1522,1504,26,1316,0,0,0,20,142,18,0,0,0,0,0,18,0,0.017083,0.864652,0.011827,0.982917
278,55079185500,14000US55079185500,"Census Tract 1855, Milwaukee County, Wisconsin","Census Tract 1855, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4995,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,185500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975,1975,45,1920,0,0,0,0,10,0,0,0,0,0,0,0,0,0.022785,0.972152,0.000000,0.977215
279,55079185600,14000US55079185600,"Census Tract 1856, Milwaukee County, Wisconsin","Census Tract 1856, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4996,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,185600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004,2004,353,1603,17,0,0,0,31,0,0,0,0,0,0,0,0,0.176148,0.799900,0.000000,0.823852
280,55079185700,14000US55079185700,"Census Tract 1857, Milwaukee County, Wisconsin","Census Tract 1857, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4997,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,185700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1835,1722,60,1661,0,0,0,0,1,113,21,6,0,0,0,66,20,0.032698,0.905177,0.061580,0.967302
281,55079185800,14000US55079185800,"Census Tract 1858, Milwaukee County, Wisconsin","Census Tract 1858, Milwaukee County, Wisconsin",wi,140,0,ACSSF,4998,NaN,NaN,NaN,NaN,55,79,NaN,NaN,NaN,185800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1571,1539,35,1336,64,0,0,0,104,32,32,0,0,0,0,0,0,0.022279,0.850414,0.020369,0.977721

# <span style="color:red">Incomplete</span>

**I need to finish the rest of this**

# Combine this census data with your street address data

Create a new dataframe my merging your street addresses with your census data. It would be nice to marge on census tract code, but your addresses data does **not** have a census tract on them! **This is where things get a little crazy.**

### Adding census tract codes to addresses

We went ahead and geocoded many addresses in Milwaukee to create `addresses_geocoded.csv`. You'll need to add a new column using QGIS that adds in the address's census tract.

The QGIS command **Join attributes by location** will merge datasets that geographically overlap each other. If you have one layer that's a list of lat/lon points and one layer that's a shapefile with census tract information, **join attributes by location** can create a new layer of lat/lon points that also has census tract information.

You can export the result by right clicking the layer, selecting **Export As** and making sure the output is another CSV.

### Merging

Now you'll have three datasets:

* Addresses and pothole fill ties
* Census data according with census tract codes
* Addresses with census tract codes

You'll need to merge them each together to create one whole dataset.

# Linear regression

Using the `statsmodels` package, run a linear regression to find the coefficient relating percent minority and pothole fill times.

Translate that into the form **"every X percentage point change in the minority population translates to a Y change in pot hole fill times"**

Do you feel comfortable that someone can understand that? Can you reword it to make it more easily understandable?

# Other methods of explanation

While the regression is technically correct, it just does't sound very nice. What other options do we have?

## What's the average wait to fill a pothole between majority-white and majority-minority census tracts?

You'll need to create a new column to specify whether the census tract is majority White or not.

## How does the average wait time to fill a pothole change as more minorities live in an area?

* **Tip:** Use `.cut` or `.qcut` to split the percent minority (or white) into a few different bins.

# Bonus: Income

`R12216226_SL140.csv` contains income data for each census tract in Wisconsin. Add it into your analysis.

If you run a multivariate regression also including income, how does this change things?